# vi files
*~
.*.swp

# eclipse files
/.build
/.includepath
/.project
/.externalToolBuilders

# build files
blib/
Makefile
MYMETA.yml
pm_to_blib
/MYMETA.json
/Footprintless*.tar.gz
/Footprintless*
/*.html
/*.tmp
